/* CSS Document */
/* Adon Jeshuah Template Overrides */
body {
	font-family: Segoe, Segoe UI, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #222;
}
@font-face {
	font-family: Segoe UI;
	src: url(../fonts/segoeui.ttf);
	font-weight: normal;
}
h1:first-child {
	padding-top: 0px;
	margin-top: 0px;
}
/*Djimageslider fix */
.slideshowlite ul, .slideshowlite ol {
    left: 0px !important;
 }

.padding-left-off {
	padding-left: 0px !important;
}

.padding-right-off {
	padding-right: 0px !important;
}

/*Main Menu*/
.nav.navbar-nav {
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 7px;
	margin-bottom: 8px;
	margin-left: 0px;

}

.nav > li {
	margin-right: 14px; /* Todo: change to sum = 28px; */
}

.submenu{
	display: none;

}



/* for bootstrap main menu
.mainmenu {
	margin-bottom: 0px;
	height: 28px;
	padding-left: 0px;
	margin-left: 0px;
}

.mainmenu > .navbar {
	text-transform: uppercase;
	/*color: #41291C;
	font-size: 14px;
	padding-left: 0px;
}
.nav {
	z-index: 1;
}
.navbar div {
	padding-left: 0px;
	}

.navbar div .collapse {
		padding-left: 0px;
}

.nav .navbar-nav {
		padding-left: 0px;
}
.nav .navbar ul li {
		padding-left: 0px;
}
.nav > li > a {
	padding-left: 0px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    background: white;
    line-height: 28px;
    height: 28px;
    font-family: Segoe UI;
    color: #222;
    /*border-bottom: solid 1px #ded6ad;
}

.navbar ul li{
	/*border-radius:0px;*/
	/*padding: 0 10px 10px 0;
	list-style: none;
	/*margin: auto;
    list-style-type:none;
    height: 28px;
    line-height:28px;
    /*float: left;
    color: #222;
    font-size: 14px;
    /*display: block;
}
.navbar ul li *{
	/*margin-left: 10px;
}

.navbar ul li a{
	border-radius: 0px;
    /*display:block;
    color: #222;
    text-decoration:none;
}

.navbar ul li.active a {
	color: #00AAD2;
}

/*.navbar li:hover {
    background: #ded6ad;
}*/
/*.navbar li ul.submenu {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 10px 0px;
    position: absolute;
    left: 5px;
    display: none;
    background:white;
    opacity: 0.0;
    border-bottom: none;
}
.navbar li ul.submenu li {
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
    z-index:1;
}
.navbar li ul.submenu li a {
    line-height: 28px;
    height: 28px;
    position:relative;
}*/

/*.divider {
	margin: 9px 0 !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0px !important;
	list-style: none;
	background-color: #DED6AD;
}*/

/*.active {
    color: #00aad2 !important;
}
*/
/*.triangle {
    position:relative;
    top: 0px;
    left: 45%;
    z-index:100;
    display: inline-block;
    float: left;
}*/

hr {
	border-width: 1px;
	border-style: solid none none;
	border-color:#DED6AD;
}
#up {
	margin-top: 0px;
	margin-bottom: 10px;
	width: 98%;
}

#down {
	width: 99.2%;
}

.form-control{
	border-radius:0px;
	margin-right:0px;}
	
.btn:hover{
 color:#00AAD2;
}

/* Language Menu */
.mod-languages {
    float: right;
    padding-right: 0;
}

.language{
		margin-top: -7px;
		float:right;
		padding: auto;
		margin-left: 6%;
		right: 0px;
		font-size: 12px;
}
.language ul{
	border: none;
}

.language ul li{
	background: #DED6AD;
	color: #FFF;
	border: none;
	float:left;
	margin-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
.language ul li a{
	background: #DED6AD;
	line-height: 0;
	margin-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.language ul > li.lang-active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.lang-active > a:focus {
	background: #DED6AD;
	border: none;
	color: #FFF;
}

.language ul li.lang-active{
	background: #BFA980;
	color: #FFF;
	
}

.language ul li.lang-active a{
	background: transparent;
}

.language ul li a{
	background: transparent;
	color: #FFF;
	border: none;
}
.language ul li a:hover {
	background: transparent !important;
	border: none;
}


/* Footer */

.footer{
	color: #222;
	text-decoration: none;
	font-size: 15px;
	text-transform: none;
}

.footer li{
	list-style: none;
	display: block;
	float: left;
	font-style: normal;
	color: #222;
	margin-top: -10px;
}

.footer li a{
	background: #FFF;
	color: #222;
	border-radius:0px;
	padding: 0px;
	margin: 2px;
	float:left;
	list-style: none;
	font-style: normal;
}

.footer li a:hover{
	text-decoration: none;
	color: #222;
}

.footer li+li a:before{
	content: "|";
	margin-left: 15px; 
	margin-right: 15px;
}

.footer li.active a{
	color: #222;
}



li {
	list-style-type: square;
}
.caret {
	order-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #DED6AD;
    display: block;
    height: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 8px;
    width: 0;
}

/*Breadcrumb */
/*.breadcrumb {
	color: #222;
	background: #FFF;
	padding: 0px;
	margin: 0px;
	margin-left:20px;
	text-decoration: underline;
	}
	
.breadcrumb li span {
	color: #41291c;
	text-decoration:none;
}

.breadcrumb li span :not(:last-child){
	text-decoration: underline;
}

.breadcrumb li+li:after{
	color: #41291c;
	content: ">";
	padding: 0 5px;
}
*/
#submenu {
	color:#222;
}

#submenu ul li.active a{
	font-weight: bold;
	background:none;
	background-color: #FFF;
}

#top {
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #bfa980;
	border: none;
	border-top: 2px solid #DED6AD;
}

/* Search Box */
.search {
	border-radius: 0px;
	/*position: relative;*/
	margin-right: 19px;
	float: right; 
}

/* Search Input Box */
.inputbox.search-query {
	border-radius: 0px;
	border: 1px solid #DED6AD;
	padding: 2px;
	width: 123px;
	height: 22px;
}
/* Icon & Search Button */
.search .form-inline .btn {
	padding: 10px 7px;
}

.search .form-inline .btn.glyphicon.glyphicon-search{
	border-radius: 0px;
	margin-left: 0px;
	margin-top: -1px;
	background-color: #B8CC00;
	line-height: 0px;
	position:absolute;
	float:right;
	display:inline;
	color: #FFF;
	height: 22px;
}

.language ul li:last-child {
    margin-right: 0;
    padding-right: 8px;
}

.white {
	color: #fff;
}

.logo {
	/* Logo */
	margin-top: 15px;
	margin-left: auto;
	/* Der Margin Abstand ist relativ zu linken Seite*/
	/*height: 153px;*/
	/*width: 189px;*/
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.side {
	/* Größe der Seitenleiste */

}

.row { 
	padding: 0px;
	margin-bottom: 0px;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
margin-bottom: 20px;
}*/

.slide-desc{
	left:435px !important;
	width: 285px !important;
	top: 0px !important;
	opacity: 1 !important;
}

.slide-desc-bg {
	background: #005d6e  !important;
	opacity: 0.8;
}

.slide-desc-text {
	font-family: Segoe UI;
	font-size: 15px;
	line-height: 20px;
}

.slide-desc-text a{
	color: #fff;
	text-decoration: underline;
}

/* Calendar */
.calendar {
	font-size: 12px;
	line-height: 0px;
}

/*Editor Style */

h1 {
	font-family: Segoe, Segoe UI, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 20px;
	font-weight: nomral;
	color: #222;
}

h2 {
	font-family: Segoe, Segoe UI, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: normal;
	color: #222;
}

h3 {
  font-weight: bold;
  font-family: Segoe, Segoe UI, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #222;
}

h4 {
	font-weight: bold;
	font-family: Segoe, Segoe UI, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height: 23px;
	color: #B8CC00;
}

/*a:link, a:visited {
	color: #1B57B1; text-decoration: none;
	font-weight: normal;
}
*/
a:hover {
	color: #00c;	text-decoration: underline;
	font-weight: normal;
}

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #666; text-align: center; }

/* STYLES FOR JOOMLA! EDITOR */
hr#system-readmore  { border: red dashed 1px; color: red; }
hr.system-pagebreak { border: gray dashed 1px; color: gray; }

div.hinweise {
	color: #D20031;
}

div.dekor1 {
	color: #DED6AD;
}

div.dekor2 {
	color: #BFA980;
}

div.akzent1 {
	color: #B8CC00;
}
div.akzent2 {
	color: #00AAD2;
}
div.akzent3 {
	color: #41291C;
}