/.synkron.syncdb
/adonjeschua.TODO
/sublime.project.sublime-workspace
/tests
/sublime.project.sublime-project
/tests/layout.php
/tests/menu.html
/template_thumbnail.png
/template_preview.png
/tests/index - Kopie.php
/favicon.png
/.project
/.gitattributes
/.buildpath
